.navbar {
  background-color: #000000;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: clamp(18px,1vw,20px);
  font-weight: bold;
  color: white;
}

.navbar-links {
  display: flex;
  gap: clamp(5px, 1vw,32px);
}

.nav-link {
  font-size: clamp(15px,1vw,20px);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.2s;
  color: white;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


@media (max-width: 768px) {
  .navbar {
    padding: clamp(10px,2vw,16px);
  }

  .navbar-brand{
    font-size: clamp(7px,1.5vw,16px);
  }

  .navbar-links {
    gap: clamp(5px, 2vw, 25px)
  }

  .nav-link {
    padding: clamp(2px, 0.5vw, 5px);
    font-size: clamp(8px,2.5vw,16px);
  }
}