.club-des-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
    padding-top: 2%;
    gap: 5%;
}

.club-des-wrap button{
    font-size: clamp(20px,3vw, 30px);
}

.club-des-wrap p{
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    padding: 3%;
    font-size: clamp(12px,1vw,20px);
    line-height: clamp(19px,1.7vw, 35px);
}

.club-des-wrap img{
    justify-content: center;
    display: block;
    height: auto;
    width: 25vw;
    padding: 5%;
}

.club-imgs-wrap{
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
}

.openSec{
    width: 100%;
    color: white;
    font-size: 28px;
}

.openSec:hover{
    background-color: rgba(255, 255, 255, 0.05);
}
.social-medias{
    display: flex;
    justify-content: center;
    padding-top: 2%;
    gap: 2%;
    font-size: clamp(10px,1.2vw,20px);
}

a {
    color: white;
}

a:hover{
    color: blue;
}

.matches{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 3fr 0.5fr;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 2% 0;
    align-items: center;
}

.matches img{
    display: inline-block;
    padding: 0;
    width: clamp( 12px,4vw, 100px);
}

.leagueLogo{
    display: flex;
    justify-content: center;
}

.leagueLogo h3{
    font-size: clamp(11px,3vw,30px);;
}


.matches-results{
    display: flex;
}

.matches p{
    background-color: transparent;
    font-size: clamp(9px,1.2vw,20px);
    white-space: nowrap;
}
.matches a{
    font-size: clamp(7px, 1vw,20px);
}

.league{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 2% 0;
    align-items: center;
}
.league p{
    font-size: clamp(11px,1.5vw,20px);
}

.league img{
    width: 5vw;
    height: auto;
}

.current-team{
    background-color: green;
}


.score2{
    display: none;
}

@media (max-width: 800px){
    .club-des-wrap{
        display: flex;
        flex-direction: column;
    }
    .club-des-wrap img{
        display: inline-block;
        padding: 5%;
    }
    .club-des-wrap p{
        font-size: clamp(12px,1.5vw,15px);
        line-height: clamp(19px,2vw, 35px);
    }

    .league img{
        width: 10vw;
        height: auto;
    }
    .matches img{
        display: inline-block;
        padding: 0;
        height: auto;
        width: clamp(30px,6vw, 100px);
    }

    .matches a{
        font-size: 1.2vw;
    }

    .matches p{
        font-size: clamp(8px,2vw,15px);
    }
}

@media (max-width: 500px){
    
    .score2{
        display: block;
    }

    .score1{
        display: none;
    }

    .matches img{
        height: auto;
        width: clamp(25px,8vw, 60px);
    }
    
    .matches p{
        font-size: clamp(10px,2vw,15px);
    }

    .league p{
        font-size: clamp(11px,1.5vw,20px);
    }
    .league p{
        font-size: clamp(11px,1.5vw,20px);
    }
    .teamForm{
        margin-right: 40%;
    }
    .matches a{
        font-size: 2vw;
    }
}
